# Core dependencies
streamlit==1.46.0
numpy
scipy
matplotlib
plotly
pandas

# Deep learning
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# Audio processing
librosa
soundfile
scikit-learn

# Visualization
opencv-python-headless  # Avoid GUI issues on servers

# Miscellaneous
joblib
requests





